ion-back-button{
  color: #00C6CF !important;
}


ion-toolbar{
  --background: #FFF5FF!important;
}


ion-content{
  --ion-background-color:  !important;
}

.ais-SearchBox {
  margin-bottom: 20px;

}
.ais-Pagination { margin-top: 1em }
p{
  margin: 10px;
}
